{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5" >
    <div class="card shadow w-75">
        <div class="card-body">
            <form method="post" class="card-body row g-3">
                {% csrf_token %}
                {{form|crispy}}
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>
  </div>
{% endblock content %}