{% if request.session.akun_pengguna.is_hotel %}
    {% include 'hotel_navbar.html' %}
{% else %}
    {% include 'customer_navbar.html' %}
{% endif %}
{% block additional_meta %}
<title>DASHBOARD</title>
{% endblock additional_meta %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5" >
    <div class="card shadow w-75">
        <div class="card-body">
            {% if request.session.akun_pengguna.is_hotel %}
                <h5>Nama pemilik hotel: {{fname}} {{lname}}</h5>
                <h5>No hp: {{request.session.current_user.phone}} </h5>
                <h5>Email: {{email}} </h5>
                <h5>Nomer izin usaha: {{nib}} </h5>
                <h5>Nama hotel: {{hotel_name}} cabang {{hotel_branch}} </h5>
                <h5>Alamat: {{street}},{{district}}  {{city}} {{province}}  </h5>
            {% else %}
                <h5>Nama depan: {{fname}} </h5>
                <h5>Nama belakang: {{lname}} </h5>
                <h5>No hp: {{request.session.current_user.phone}} </h5>
                <h5>Email: {{email}} </h5>
                <h5>NIK: {{nik}} </h5>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock content %}