{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'room/css/style.css' %}">
{% endblock %}

{% block content %}

<!-- Navbar -->
{% include "hotel_navbar.html" %}


<div>
    <div>
        <form action="{% url 'room:add_room' %}" method="POST" class="form-group">
            {% csrf_token %}
            <div>
                {% for field in room_form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}
            </div><br>
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Simpan">
            </div>
        </form>
    </div><br>
</div>

{% endblock %}