{% extends "base.html" %}
{% block content %}

  <div class="d-flex justify-content-center align-items-center mt-5" >
    <div class="card shadow w-75">

      <div method="post" class="card-body row g-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">room no</th>
              <th scope="col">date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for data in reservation_data  %}
              <tr>
                <th scope="row">{{forloop.counter}} </th>
                <td>{{data.rnum}} </td>
                <td>{{data.check_in}} </td>
                <td>{{data.isactive}} </td>
                <td>
                  <a href="{% url 'reservationdetail' id=data.r_id %}" class="btn btn-primary">Detail</a>
                  <a href="{% url 'reservationcancel' id=data.r_id %}" class="btn btn-primary">Cancel</a>
                  <a href="{% url 'complaint' id=data.r_id %}" class="btn btn-primary">Buat komplain</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}