{% extends 'admin_base.html' %}

{% block additional_meta %}
<title>Form UBAH STATUS DAFTAR RESERVASI HOTEL</title>
<style>
    ul {
        font-family: ui-serif;
        font-size: 20px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock additional_meta %}

{% block content %}
<div class="mainpnl centered container w-75 align-middle" id="outline1">
    <div class = "form regis admin">
        <h1 style="text-align: center">Form UBAH STATUS DAFTAR RESERVASI HOTEL</h1>

        <form id="update-status" method="POST" action="/hotel/update_status_reservasi_hotel/{{id}}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>ID Reservasi: </td>
                    <td><input disabled type="text" name="rsv_id" placeholder="ID Reservasi" class="form-control" value="{{rsv_id}}"></td>
                </tr>

                <tr>
                    <td>Nomor Kamar: </td>
                    <td><input disabled type="text" name="rnum" placeholder="Nomor Kamar" class="form-control" value={{rnum}}></td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>
                        <select id="isactive" name="isactive">
                        <option value="True">True</option>
                        <option value="False">False</option>
                        </select>
                </td>
                </tr>

                <tr>
                    <td></td>
                    <td><button class="btn btn-outline-primary" type="submit" value="Simpan">Simpan</button></td>
                </tr>
            </table>
        </form>
        <br>
        {% if msg %}
        <h3 style="text-align: center; color: red;">{{msg}}</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}