{% extends 'hotel_navbar.html' %}

{% block content %}
<title>RESERVASI SHUTTLE</title>
<style>
    ul {
        font-family: ui-serif;
        font-size: 20px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="mainpnl centered container w-75 align-middle">
    <div class = "form-buat-reservasi-shuttle">
        <h1 style="text-align: center">RESERVASI SHUTTLE</h1>

        <form id="buat-reservasi-shuttle" method="POST" action="">
            {% csrf_token %}
            <table class="table table-sm">
                <tr>
                    <td class="text-center">ID Reservasi: </td>
                    <td class="text-center"><input disabled type="text" name="rsv_id" placeholder="ID Reservasi" class="form-control" value="{{rsv_id}}"></td>
                </tr>

                <tr>
                    <td class="text-center">Kendaraan: </td>
                    <td>
                        <select id="vehicle" name="vehicle">
                            {% for vehicle in vehicle %}
                        <option value="{{ vehicle.platnum }}">{{ vehicle.vehicle_brand}} {{vehicle.vehicle_type}}</option>
                        {% endfor %}
                        </select>
                            
                </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="text-center"><button class="btn btn-outline-primary" type="submit" value="Simpan">Simpan</button></td>
                </tr>
            </table>
        </form>
        <br>
        {% if msg %}
        <h3 style="text-align: center; color: red;">{{msg}}</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}