{% extends 'base.html' %}

{% block meta %}
<title>Hotel Registration</title>
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #A73121;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #741f14;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
</style>
{% endblock meta %}

{% block content %}
<body>
    <div class="wrapper">
      <h2 class="text-center text-dark mt-5">Register</h2>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" name="email" placeholder="Email" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" class="form-control" required>
        </div>
        <div class="input-box">
          <input type="text" name="fname" placeholder="Nama Depan Pemilik Hotel" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="lname" placeholder="Nama Belakang Pemilik Hotel" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="notelp" placeholder="Nomor HP Pemilik Hotel" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="nib" placeholder="Nomor Izin Usaha" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="hname" placeholder="Nama Hotel" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="hbranch" placeholder="Cabang Hotel" class="form-control" required>
        </div>
        <p>Alamat Hotel:</p>
        <div class="input-box">
            <input type="text" name="jalan" placeholder="Nama Jalan" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="kecamatan" placeholder="Kecamatan" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="kota" placeholder="Kota" class="form-control" required>
        </div>
        <div class="input-box">
            <input type="text" name="provinsi" placeholder="Provinsi" class="form-control" required>
        </div>
        <div class="input-box button">
          <input type="Submit" value="Daftar">
        </div>
      </form>
      {% if msg %}
      <h3 style="text-align: center; color: red;">{{msg}}</h3>
      {% endif %}
    </div>
  </body>
{% endblock content %}